.block {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.cardListBlock {
  overflow: auto;
  scrollbar-width: thin;
  max-height: calc(100vh - 264px);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #8585ad;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
}

.cardsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 272px;
  margin-bottom: 32px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: relative;
}

.cardTitle {
  display: block;
  width: 100%;
}

.price {
  display: flex;
  justify-content: center;
}

.name {
  text-align: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  color: white;
}
