body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131316;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0; 
}

.app {
  max-width: 1240px;
  margin: auto;
}

p {
  margin: 0;
}

.main{
  display: flex;
  justify-content: space-between;
}

#react-modals {
  position: relative;
  z-index: 999;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}