body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C1C21;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0; 
}

.App {
  max-width: 1240px;
  margin: auto;
}

.main{
  display: flex;
  justify-content: space-between;
}